nav {
    margin: 20px 0;
    padding: 10px 30px;
    background-color: #383D40;
    border-radius: 50px;
    font-size: var(--fs-300);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Page Links */
.navLinks {
    list-style: none;
    display: flex;
    margin: 0;
}

.navLinks a {
    padding: 20px;
}

.navLinks li:first-child a {
    padding-left: 0;
}

.navLinks li:last-child a {
    padding-right: 0;
}

/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    margin-right: 10px;
}
  
.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

.hamburger:hover span {
    background-color: hsl(var(--text2));
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

.showNav {
    display: flex;
}

/* Search Bar */
.searchContainer {
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 12px 40px 12px 20px;
    border: 2px solid #494949;
    border-radius: 50px;
    background-color: #55585a;
    color: hsl(var(--text3));
    transition: border-color 0.1s ease, background-color 0.1s ease, box-shadow 0.1s ease;
    font-size: var(--fs-200);
}

.searchInput:hover {
    border-color: hsl(var(--text2));
}

.searchInput:focus {
    border-color: hsl(var(--text2));
    outline: none;
    box-shadow: 0 0 1px hsl(var(--text2));
}

.searchInput::placeholder {
    color: hsl(var(--text3));
    opacity: 0.5;
}

.searchInput:focus::placeholder {
    opacity: 0.3;
}

.mobileTopRow {
    display: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .mobileTopRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
        border-radius: 25px;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        gap: 20px;
        padding: 10px 0;
    }

    .navLinks a {
        padding: 5px 0;
        font-size: var(--fs-200);
        display: block;
        width: 100%;
    }

    .navLinks.showNav {
        display: flex;
    }

    .hamburger, .searchContainer {
        display: none;
    }

    .mobileTopRow .hamburger, .mobileTopRow .searchContainer {
        display: flex;
    }

    .searchContainer, .searchInput {
        width: 100%;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 15px;
    }
}