nav {
    margin: 20px 0;
    padding: 10px 30px;
    background-color: #383D40;
    border-radius: 50px;
    font-size: var(--fs-300);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    list-style: none;
    display: flex;
    margin: 0;
}

.navLinks a {
    padding: 20px;
}

.searchContainer {
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 12px 40px 12px 20px;
    border: 2px solid #494949;
    border-radius: 50px;
    background-color: #55585a;
    color: hsl(var(--text3));
    transition: border-color 0.1s ease, background-color 0.1s ease, box-shadow 0.1s ease;
    font-size: var(--fs-200);
}

.searchInput:hover {
    border-color: hsl(var(--text2));
}

.searchInput:focus {
    border-color: hsl(var(--text2));
    background-color: #5c5f63;
    outline: none;
    box-shadow: 0 0 8px hsl(var(--text2));
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        border-radius: 20px;
    }

    .navLinks {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .navLinks a {
        font-size: var(--fs-200);
    }

    .searchContainer {
        width: 100%;
        margin-top: 10px;
    }

    .searchInput {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .nav {
        padding: 15px;
    }

    .navLinks a {
        font-size: var(--fs-200);
    }
}