*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/manrope.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* fonts */
  --fs-200: 16px;
  --fs-300: 18px;
  --fs-400: 22px;
  --fs-500: 56px;
  --lh-1: 1;
  --lh-1-2: 1.2;
  --lh-1-4: 1.4;

  /* colours */
  --bkg: 0, 0%, 12%;
  --text: 0, 0%, 100%;
  --text2: 248, 56%, 65%;

  /* utils */
  /*--space-sm: 
	--space-md:
	--space-lg:
	--round-sm:
	--round-md:
	--round-lg:
	--round-full:
  --box-shadow:*/
}

body {
  display: block;
  place-items: center;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  font-size: var(--fs-200);
  line-height: var(--lh-1-4);
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: hsl(var(--bkg));
  color: hsl(var(--text));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: var(--lh-1-2);
    font-size: var(--fs-500);
    color: hsl(var(--text2));
}